<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>report-mode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="center">
<div class="phone-frame app-card" style="width:360px;">
<img src="assets/logo.png" class="logo" />
<h3>Mis reportes</h3>


<ion-button class="app-btn" expand="block" routerLink="/address">Reporte manual</ion-button>
<ion-button class="app-btn" expand="block" fill="outline" routerLink="/permissions" style="margin-top:10px;">Reporte automático</ion-button>
</div>
</ion-content>