<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>report-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="center">
<div class="phone-frame app-card" style="width:360px;">
<img src="assets/logo.png" class="logo" />
<h3>Mis reportes</h3>
<div *ngIf="report?.photoDataUrl" style="overflow:hidden;border-radius:14px;margin:8px 0;">
<img [src]="report?.photoDataUrl" style="width:100%;height:auto;"/>
</div>
<ion-button class="app-btn" expand="block" (click)="back()">Regresar</ion-button>
</div>
</ion-content>
