<ion-content [fullscreen]="true" class="center">
<div class="phone-frame app-card" style="width:360px;">
<img src="assets/logo.png" class="logo" />
<h3>Vista previa</h3>
<div class="small-muted">Confirma la imagen antes de guardar</div>

<div style="margin:10px 0;overflow:hidden;border-radius:14px;">
<img [src]="photo" *ngIf="photo" style="width:100%"/>
</div>

<!-- Iconos de acción -->
<div class="action-icons">
  <ion-icon name="camera" (click)="retakePhoto()"></ion-icon>
  <ion-icon name="download" (click)="save()"></ion-icon>
</div>
</div>
</ion-content>
