<ion-content [fullscreen]="true" class="center">
<div class="phone-frame app-card" style="width:340px;">
<img src="assets/logo.png" class="logo" />
<h3>Tomar foto</h3>

<div *ngIf="photo" style="margin:10px 0;overflow:hidden;border-radius:12px;">
<img [src]="photo" style="width:100%" />
</div>

<ion-button class="app-btn" expand="block" (click)="shoot()">
<ion-icon name="camera" slot="start"></ion-icon> Capturar
</ion-button>
<ion-button class="app-btn" fill="outline" expand="block" routerLink="/photo-preview" style="margin-top:10px;">Continuar</ion-button>
</div>
</ion-content>